{% extends "base.html" %}  
Formatted HTML:
{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-primary ">
   <div class="container-fluid top">
      <a class="navbar-brand fw-bold" href="#">
         <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
         </svg>
         Simple Messenger
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 clearfix">
            <li class="nav-item">
               <a class="nav-link fw-bolder" aria-current="page" href="{{ url_for("index") }}">На главную</a>
            </li>
            <li class="nav-item">
               <a class="nav-link fw-bolder" aria-current="page" href="{{ url_for("auth") }}">Авторизация</a>
            </li>
            <li class="nav-item">
               <a class="nav-link fw-bolder" href="{{ url_for("register") }}" tabindex="-1" aria-disabled="true">Регистрация</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link fw-bolder dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               О проекте
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Разработчики</a></li>
                  <li><a class="dropdown-item" href="#">Документация</a></li>
                  <li><a class="dropdown-item" href="#">Обратная связь</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>
{% endblock %}


{% block content %}

<div class="container-fluid bg-white">
 <div class="row align-items-start auth">
 {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
	  <div class="row  justify-content-center">
	  <div class="alert alert-success col-11 col-sm-11 col-md-8 col-lg-5 rounded" role="alert">
	  {{ message }}
	  </div>
  
</div>

      {% endfor %}
   {% endif %}
{% endwith %}
    <div class="col">
<h4>Цель</h4>	
<p>Написать простой мессенджер, позволяющий отправлять друг другу сообщения в режиме реального времени</p>

<h4>Задачи</h4>
<ul>
<li>Спроектировать модель базы данных для мессенджера</li>
<li>Разработать шаблон дизайна сайта</li>
<li>Сделать аутентификацию пользователя</li>
<li>Разработать обмен сообщениями между пользователями в режиме реального времени
  <ul>
    <li> Отправка сообщений</li>
    <li> Прием сообщений</li>
  </ul>
</li>
<li>Получение списка всех последних сообщений</li>
<li>Сделать простой поиск по всем пользователям</li>
<li>Связать дизайн сайта с его логикой через шаблонизатор</li>
</ul>


<p><img src="https://sun9-29.userapi.com/impg/e3LXtXzvZox6b9ErzjW1-qmAhxCCSO8UDfrtuw/zyZCHqTxa0Y.jpg?size=1366x768&quality=96&sign=0d519d36c66def77472603bb6aedf222&type=album"  class="img-fluid"/></p>

<p>## Cтруктура проекта</p>

.
├── admin_createuser.py</br>
├── create_db.py</br>
├── dbscript</br>
│   └── createdb.sql</br>
├── README.md</br>
├── requirements.txt</br>
└── webapp</br>
    ├── classes</br>
    │   ├── Messages.py</br>
    │   └── SearchUsers.py</br>
    ├── config.py</br>
    ├── FORMS.py</br>
    ├── handlers</br>
    │   ├── AuthHandler.py</br>
    │   ├── MessagesHandler.py</br>
    │   ├── RegisterHandler.py</br>
    │   └── SearchUsersHandler.py</br>
    ├── __init__.py</br>
    ├── MODEL.py</br>
    ├── modules</br>
    │   ├── AuthPage.py</br>
    │   ├── IndexPage.py</br>
    │   ├── LogoutPage.py</br>
    │   ├── MessagesPage.py</br>
    │   └── RegisterPage.py</br>
    ├── README.md</br>
    ├── static</br>
    │   ├── css</br>
    │   │   └── style.css</br>
    │   ├── MessagesAjax.js</br>
    │   └── SearchUsersAjax.js</br>
    └── templates</br>
        ├── auth.html</br>
        ├── base.html</br>
        ├── index.html</br>
        ├── messenger.html</br>
        └── reg_user.html</br>
```
</br>
<p>В разработке, текущая актуальная ветка - <b>stage</b></p>

    </div>
 </div>
</div>
{% endblock %}
