{% extends "base.html" %}  
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary ">
  <div class="container-fluid top">
    <a class="navbar-brand fw-bold" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
  <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg> Simple Messenger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bolder" aria-current="page" href="{{ url_for("index") }}">На главную</a>
        </li>
		 <li class="nav-item">
          <a class="nav-link fw-bolder" aria-current="page" href="{{ url_for("auth") }}">Авторизация</a>
        </li>
		<li class="nav-item">
          <a class="nav-link fw-bolder" href="{{ url_for("register") }}" tabindex="-1" aria-disabled="true">Регистрация</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-bolder dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            О проекте
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Разработчики</a></li>
            <li><a class="dropdown-item" href="#">Документация</a></li>
			<li><a class="dropdown-item" href="#">Обратная связь</a></li>
          </ul>
        </li>
		</ul>
   </div>     
  </div>
</nav>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
	  <div class="row  justify-content-center">
	  <div class="alert alert-success col-11 col-sm-11 col-md-8 col-lg-5 rounded auth" role="alert">
	  {{ message }}
	  </div>
  
</div>

      {% endfor %}
   {% endif %}
{% endwith %}
<div class="container-fluid  auth">
 <div class="jumbotron border border-dark rounded-0">
  <h1 class="display-4">Привет!</h1>
  <p class="lead">Добро пожаловать в Simple Messenger </p>
  <hr class="my-4">
  <p>На текущий момент функционал нашего приложения включает в себя:</p>
  <ul>
  <li>Личные переписки;</li>
  <li>Групповые переписки;</li>
  <li>Еще пункт;</li>
  <li>и еще один.</li>
  </ul><br>
  <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
</div>
</div>
{% endblock %}
