.paddingmessage{
    padding-top: 7.5px !important;
    padding-bottom: 2.5px !important;
}
.main-window{
    background: url('/static/img/background.png');
}
.vh-100{
    overflow: hidden;
}

.scrollbar{
    overflow-y: auto;
}

.auth {
    margin-top: 40px;
    padding: 20px;
}

#receiveDiv {
    padding: 25px;
}

.smile {
    text-decoration: none !important;
}

@media (max-width: 760px) {
    .perepis {
        display:none !important;
    }
 .main-send {
        display:none !important;
    }
}
@media (min-width: 760px) { 
    .dialogs-button {
        display: none;
    }
}

